In [147]:
import pandas as pd
pd.set_option('max_columns', 50)
import re

In [148]:
data = pd.read_csv('semantic_prosody_utterly_totally_Daniel.csv')
data.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,MID,u_warm,u_gn,u_sincere,u_friendly,u_wi,u_trustworthy,u_competent,u_confident,u_intel,u_capable,u_efficient,u_skillful,uval,t_warm,t_gn,t_sincere,t_friendly,t_wi,t_trustworthy,t_competent,t_confident,t_intel,t_capable,t_efficient,t_skillful,tval,Q29,age,gender
0,0,R_2mWfZJ9VaGH3fj7,Default Response Set,Anonymous,NaN,NaN,removed,0,2014-08-04 08:55:55,2014-08-04 08:59:25,1.0,removed,3.0,3.0,2.0,2.0,4.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,25.0,2.0
1,1,R_50zAgUhb6Wufh7n,Default Response Set,Anonymous,NaN,NaN,removed,0,2014-08-04 08:56:42,2014-08-04 08:59:44,1.0,removed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,3.0,2.0,4.0,4.0,3.0,3.0,4.0,4.0,3.0,4.0,5.0,1.0,19.0,1.0
2,2,R_1RkGNnicRpNWvhX,Default Response Set,Anonymous,NaN,NaN,removed,0,2014-08-04 08:56:59,2014-08-04 09:03:47,1.0,removed,4.0,3.0,4.0,2.0,2.0,3.0,4.0,4.0,3.0,3.0,3.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,32.0,2.0
3,3,R_dosxrkXUVIAqwDj,Default Response Set,Anonymous,NaN,NaN,removed,0,2014-08-04 08:57:23,2014-08-04 09:02:27,1.0,removed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,1.0,31.0,1.0
4,4,R_2nkqcrfLSiFlcKV,Default Response Set,Anonymous,NaN,NaN,removed,0,2014-08-04 08:57:34,2014-08-04 09:02:07,1.0,removed,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,34.0,1.0

In [138]:
totally = data.dropna(subset = ['tval']).dropna('columns')
utterly = data.dropna(subset = ['uval']).dropna('columns')

In [139]:
totally.columns = [col[2:] if re.search(string=col, pattern='^._') else col for col in totally.columns]
utterly.columns = [col[2:] if re.search(string=col, pattern='^._') else col for col in utterly.columns]

In [149]:
totally['adverb'] = 'totally'
utterly['adverb'] = 'utterly'
totally['val'] = totally['tval']
utterly['val'] = utterly['uval']

In [150]:
data = pd.concat([totally, utterly], sort=False)

In [164]:
data[['val', 'adverb']].groupby('adverb').describe()

           val
         count      mean       std  min  25%  50%  75%  max
adverb
totally  275.0  5.192727  1.370686  1.0  4.0  5.0  6.0  7.0
utterly  288.0  4.760417  1.573372  1.0  4.0  5.0  6.0  7.0