# Testy statystyczne. Część III

In [2]:
import pandas as pd
from pandas import DataFrame, Series
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pingouin as pg
from pprint import pprint

## Prosta regresja liniowa

### Przykład

In [29]:
smf.ols('rating ~ age', data = data).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 rating   R-squared:                       0.129
Model:                            OLS   Adj. R-squared:                  0.120
Method:                 Least Squares   F-statistic:                     14.52
Date:                Sun, 27 Jan 2019   Prob (F-statistic):           0.000242
Time:                        14:10:21   Log-Likelihood:                -197.81
No. Observations:                 100   AIC:                             399.6
Df Residuals:                      98   BIC:                             404.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.7460      0.650      4.224      0.000       1.456       4.036
age            0.0905      0.024      3.811      0.000       0.043       0.138
==============================================================================
Omnibus:                        0.405   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.817   Jarque-Bera (JB):                0.142
Skew:                          -0.076   Prob(JB):                        0.931
Kurtosis:                       3.106   Cond. No.                         101.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [32]:
pg.regression.linear_regression(y = data['rating'], X = data['age'])

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,2.746016,0.650098,4.224003,0.000054,0.129047,0.12016,1.455917,4.036114
1,age,0.090543,0.023761,3.810569,0.000242,0.129047,0.12016,0.043390,0.137695

## Prosta analiza wariancji (jednoczynnikowa)

### Przykład

## Wieloraka regresja liniowa

### Przykład

## Wieloczynnikowa analiza wariancji

### Przykład

## Analiza wariancji dla czynników wewnątrzgrupowych

### Przykład

## Analiza wariancji dla schematu mieszanego

### Przykład

In [23]:
data = pd.read_csv('bi-stroop.csv')

In [24]:
data.groupby(['lang', 'condition'])['rt'].describe()

                   count        mean         std         min         25%  \
lang condition
eng  congruent    1000.0  391.833963  157.494121  118.681871  284.454624
     incongruent  1000.0  445.489736  173.994919  101.260486  326.380860
pol  congruent    1000.0  354.282428  162.117292   89.573234  242.964495
     incongruent  1000.0  422.846181  175.116211   75.032203  313.002940

                         50%         75%          max
lang condition
eng  congruent    349.562281  461.664580  1259.978454
     incongruent  410.219200  531.946769  1547.244065
pol  congruent    321.565445  433.029511  1259.406386
     incongruent  393.809734  495.973376  2285.353847

In [22]:
pg.mixed_anova(data=data, within='condition', between='lang', dv = 'rt', subject='participant')

,Source,SS,DF1,DF2,MS,F,p-unc,np2,eps
0,lang,44270.624,1,38,44270.624,113.962,5.383536e-13,0.750,-
1,condition,53834.244,1,38,53834.244,83.868,3.711526e-11,0.688,1
2,Interaction,227.663,1,38,227.663,0.355,5.550104e-01,0.009,-